.app {
  text-align: center;
  padding: 20px;
  font-family:serif;
}

.task-input input {
  padding: 10px;
  margin-right: 5px;
  width:40vw;
  border-radius: 5px;
  border-color: none;
  border-style: none;
}

.task-input button {
  padding: 10px;
  border-radius: 5px;
  border-color: none;
  border-style: none;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: rgb(231, 235, 235);
  border-radius:5px;
  margin:8px;
  transition: background-color 0.3s;
}

.task-list li:hover {
  background-color: #fff; /* Light grey background on hover */
}

.task-list .task-item span.completed {
  text-decoration: line-through;
}

.task-list button {
 margin-left:10px;
}

.task-list button.button-1:hover {
  color: rgb(118, 183, 208);
}

.task-list button.button-2:hover {
  color: red;
}

.task-list input[type="checkbox"] {
  margin-right: 10px;
}

.edit-modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.edit-modal {
  position: absolute;
  top: 10%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: rgb(231, 235, 235);
  padding: 20px;
  border-radius: 10px;
  outline: none;
  width: 300px;
}

.edit-modal input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-style: none;
}

.edit-modal button {
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #fff;
  border-style:none;
  border-radius: 5px;
}